.notekey {
    background-color: #2C8F40;
    border: none;
    color: white;
    
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 10px 10px;
    border-radius: 50%;
}

.notekey:active {
    background-color: #4CAF50
}

.keypressed {
    background-color: #4CAF50
}

.keyrow {
    position: relative;
}

#row1 {
    left: 350px;
}

#row2 {
    left: 200px;
}

#row3 {
    left: 50px;
}

#row5 {
    left: 50px;
}